.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 3% 15%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login h2 {
    margin-bottom: 10%;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #0056b3;
    font-size: x-large;
  }
  
  .login label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .login button:not(:disabled):hover {
    background-color: #0056b3;
  }
  